
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: League Spartan;
  background: #081534;
  margin: 0;
  padding: 0;
  color: #081534;
}

header {
  display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      margin-top: 40px;
      margin-bottom: 50px;
      font-size: 30px;
}
#game-container {
  max-width: 600px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
#word-display {
  font-size: 2em;
  color: 081534;
  text-align: center;
  margin: 10px;
  font-family: Libre Baskerville, sans-serif;
  font-weight: 600;
}

#word-display-box {
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 100px;
  border-color: #081534;
  border-radius: 15px;
}

#livespoint {
  display: flex;
  align-items: center;
    gap: 5px;
    font-size: 18px;
}

#lives {
  margin-top: 2px;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.option {
  font-family: League Spartan, sans-serif;
  padding: 15px;
  background: #e0e0e0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 24px;
  transition: background 0.3s;
  color: #081534;
}
.option.correct {
  background: #a0e8a0;
}
.option.incorrect {
  background: #e8a0a0;
}
#info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 20px;
}
.overlay {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 40px;
}
.hidden { display: none; }
.overlay button {
  padding: 15px 30px;
  font-size: 0.8em;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 15px;
  border-style: none;
  background-color: white;
  font-family: 'League Spartan';
  color: #081534;
}

.overlay p {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#game-over-overlay p {
  color: red;
}